@model List<CrudDotNet7.Models.ViewModels.UserListViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
@{
    if (!User.Identity.IsAuthenticated)
    {
        <h3>You Need to Login To see User List</h3>
        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Login Page</a>
    }
    else
    {

        @foreach (var item in Model)
        {
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>LastName</th>
                        <th>UserName</th>
                        <th>Mobile</th>
                        <th>Is Admin</th>
                        <th>Is Deleted</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.LastName</td>
                        <td>@item.UserName</td>
                        <td>@item.Mobile</td>
                        <td>@item.IsAdmin</td>
                        <td>@item.IsDeleted</td>
                        <td>
                            <a href="#" id="btnEdit" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" data-id="@item.Id">Edit </a>  |
                            <a href="#" id="btnDelete" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.Id">Delete </a>
                        </td>
                    </tr>
                </tbody>

            </table>
            //Update Modal
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="Update" asp-controller="Home" method="post">
                                            <div class="mb-3">
                                                <label for="nameu" class="form-label">Name:</label>
                                                <input type="text" id="name" name="name" class="form-control" />
                                                <label for="lastName" class="form-label">LastName:</label>
                                                <input type="text" id="lastName" name="LastName" class="form-control" />
                                                <label for="mobile" class="form-label">Mobile:</label>
                                                <input type="text" id="mobile" name="Mobile" class="form-control" />
                                                <input type="hidden" id="idNum" name="Id" class="form-control" />
                                            </div>
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-success">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            // DeleteModal
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="Delete" asp-controller="Home" method="post">
                                            <div class="mb-3">
                                                <p>Are you Sure?</p>
                                                <input type="hidden" id="idDelete" name="Id" class="form-control" />
                                            </div>
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">No</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        }
    }

}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
<script>
    new DataTable('#example');
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('body').addEventListener('click', function (event) {
            if (event.target && event.target.id === 'btnEdit') {
                document.getElementById("editModal").classList.add('show');

                var obj = {};
                obj.Id = event.target.getAttribute('data-id');
                fetch('Home/Edit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    body: JSON.stringify(obj)
                })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('name').value = data.name;
                        document.getElementById('lastName').value = data.lastName;
                        document.getElementById('mobile').value = data.mobile;
                        document.getElementById('idNum').value = obj.Id;
                        document.getElementById("editModal").style.display = "block";
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });



        document.querySelector('body').addEventListener('click', function (event) {
            if (event.target && event.target.id === 'btnDelete') {
                document.getElementById("deleteModal").classList.add('show');
                var obj = {};
                obj.Id = event.target.getAttribute('data-id');
                document.getElementById('idDelete').value = obj.Id;
            }

        });
    });

</script>